@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		@apply scroll-smooth;
	}

	body {
		@apply relative m-0 scroll-smooth antialiased text-black dark:text-white transition-all duration-500 font-sourceSansPro bg-white dark:bg-dark-2;
	}

	::selection {
		@apply bg-primary-50 text-white;
	}

	body::-webkit-scrollbar {
		@apply w-2 h-10 transition-all;
	}

	body::-webkit-scrollbar-track {
		@apply shadow-sm bg-primary-50;
	}

	body::-webkit-scrollbar-thumb {
		@apply bg-primary-100 outline-none;
	}
}

.swiper-pagination {
	transform: translateY(-50%) !important;
	right: 0 !important;
	@apply top-1/2 justify-center
		bg-primary-100 bg-opacity-20 w-[50px] z-50 translate-y-1/2 flex flex-col
		gap-1 items-center p-3 rounded-l-lg;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	@apply bg-primary-100;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	width: 8% !important;
	height: 100px !important;
	left: auto !important;
}

@layer input {
	::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

// .age {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	position: absolute;
// 	pointer-events: none;
// 	z-index: 600;
// 	height: 3px;
// 	top: 0;
// 	width: 100%;
// 	opacity: 0;
// 	margin: 0;
// }

// .age::-webkit-slider-thumb {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	pointer-events: all;
// 	border-radius: 50%;
// 	cursor: pointer;
// 	width: 18px;
// 	height: 18px;
// }
